* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

div#app {
  height: 100%;
}

h1 {
  font-size: 26px;
}

.tag {
  border: 1px solid #b3b2f2;
  border-radius: 15px;
  padding: 8px 10px;
  cursor: pointer;

  &:hover {
    background-color: #4141df;
    color: #fff;
  }
}

.link {
  color: #807FBF;
  cursor: pointer;

  &:hover {
    color: #907FBF;
  }
}

#list > div:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.react-datepicker__triangle {
  display: none !important;
}

// Responsive header

#appbar-top-left, #appbar-top-right {
  display: inline-block;
}

#appbar-top-right {
  float: right;
}

.react-datepicker-popper {
  left: -215px !important;
}

// In a perfect world, I would find work arounds to using !important in these media queries
// but in the interest of time I've done this to overwrite inline component styles.

@media screen and (max-width: 1140px) {
  #header-services-menu {
    margin-top: 15px !important;
    display: block !important;
    float: none !important;
  }

  #header-filter-section {
    margin-right: 0 !important;
    padding-right: 0 !important;
    border-right: none !important;
    border-left: none !important;
    float: right !important;
  }
}

@media screen and (max-width: 740px) {
  #textfield-wrapper {
    width: 200px !important;
  }

  #appbar-top-left {
    display: none;
  }

  #results-info .link {
    position: relative !important;
    display: inline-block !important;
    float: right !important;
    left: auto !important;
  }
}

@media screen and (max-width: 626px) {
  #header-filter-section {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 490px) {
  #results-info .link {
    display: block !important;
    float: none !important;
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 475px) {
  #datepicker-wrap {
    margin-left: 40px !important;
    margin-top: 15px !important;
  }

  #textfield-wrapper {
    width: 270px !important;
  }

  #searchfield {
    margin-right: 0 !important;
  }

  #display-options {
    margin-top: 10px !important;
  }

  .react-datepicker-popper {
    left: -36px !important;
  }

  .service {
    margin-right: 15px !important;
  }
}

@media screen and (max-width: 400px) {
  #display-options {
    display: none !important;
  }
}
